<a href="https://colab.research.google.com/github/RalphMolina/OOP-58001/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool() Function

In [2]:
print(bool("Ralph"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

Function can return Boolean

In [3]:
def myFunction():
  return True
print(myFunction())

True

In [4]:
if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

Application 1

In [5]:
print(10>9)

a=60
b=13
print(a==b)
print(a!=b)

True
False
True

Python Operators

In [6]:
print(10+3)
print(10-3)
print(10*3)
print(10//3)
print(10%3)
print(10/3)

13
7
30
3
1
3.3333333333333335

Bitwise Operators

In [7]:
#a=60, binary 0011 1100
#b=13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<b)
print(a>>b)

12
61
49
491520
0

Application 2

Assignment Operators

In [10]:
x = 2
x+=3 # the same as x = x+3, 2+3=5
print(x)
x-=3 # the same as x = x-3
print(x)
x*=3 # the same as x = x*3
print(x)
x/=3 # the same as x = x/3
print(x)
x%=3 # the same as x = x%3
print(x)

5
2
6
2.0
2.0

Logical Operators

In [11]:
k = True 
l = False 
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

Identify Operators

In [12]:
k is l
k is not l

True

Control Structure

if Statement

In [13]:
v = 1
z = 1

if v<z:
  print("1 is less than 2")

Elif Statement

In [15]:
if v<z:
  print("v is less than z")
elif v>z:
  print("v is greater than z")

Else Statement

In [16]:
number = int(input())

if number>0:
  print("Positive")

elif number<0:
  print("negative")

else:
  print("number is equal to zero")

3
Positive

Application 3 - Develope a Python Program that will accept if a person is entitled to vote or not

In [17]:
age = int(input())

if age>=18:
  print("You are qualified to Vote")
else:
  print("You are not qualifited to Vote")

10
You are not qualifited to Vote

Nested if...Else

In [18]:
u = int(input())
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u>30:
      print("u is above 30")
      if u>40:
        print("u is above 40")
        if u>50:
          print("u is above 50")
        else:
          print("u is below 50")

49
u is above 10
u is above 20
u is above 30
u is above 40
u is below 50

Loop Structure

In [19]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
season = ['rainy','sunny']

for x in week:
  for y in season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

The break statement

In [20]:
for x in week:
  print(x)
  if x == 'Thursday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [21]:
i=1

while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

Application 4 - Create a Python program that displays number from 1 to 4 using while loop statement.

In [22]:
j=1

while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 - Create a phython program that displays number 4 using while and break statement:

In [26]:
j=1
while j<=4:
  j+=1
  if j == 4:
   print(j)

4